<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
	<p:dataTable var="_locacao" value="#{acervoFilmes.locacoes}">
		<p:column headerText="Id">
			<h:outputText value="#{_locacao.id}" />
		</p:column>

		<p:column headerText="Itens">
			<h:outputText value="#{_locacao.itens}" />
		</p:column>

		<p:column headerText="Status">
			<h:outputText value="#{_locacao.status}" />
		</p:column>
		
		<p:column headerText="Data do aluguel">
			<h:outputText value="#{_locacao.dataAluguel}" />
		</p:column>

		<p:column headerText="Data de devolução">
			<h:outputText value="#{_locacao.dataDevolucao}" />
		</p:column>
	</p:dataTable>
	<br />
	<h:form>
		<p:commandButton value="Home" action="/index.xhtml" />
	</h:form>
</h:body>
</html>