<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>


</h:head>
<h:body>
	<h:form>
		<h:panelGrid columns="2" cellpadding="5">
			<h:outputLabel for="username" value="Usuario:" />
			<p:inputText id="username" value="#{passwordView.username}"
				required="true" label="username" />
			<h:outputText value="Senha: " />
			<p:password id="inlineFeedback" value="#{passwordView.password4}"
				feedback="true" inline="true" />
			<h:outputText value="Endereço: " />
			<p:inputText id="endereco" value="#{passwordView.endereco}" />
		</h:panelGrid>

		<p:spacer height="10" />

		<p:separator />

		<p:commandButton value="Save" action="#{passwordView.cadastrar}" />
	</h:form>
	<h:form>
			<p:commandButton value="Cancelar" action="/index.xhtml" />
		</h:form>
</h:body>
</html>