<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<h:body>

	<h:outputLabel style="font-size: 32px;" value="#{userLoginView.dupedItemMessage}" 
		rendered="#{userLoginView.duplicata}"></h:outputLabel>
	<br/>
	<br/>
	
	<p:dataTable var="_filme" value="#{acervoFilmes.carrinhoLista}">
		<p:column headerText="Nome Original">
			<p:outputLabel value="#{_filme.nomeOriginal}" />
		</p:column>
		<p:column headerText="Ano">
			<p:outputLabel value="#{_filme.ano}" />
		</p:column>
		<p:column headerText="Duração">
			<p:outputLabel value="#{_filme.duracao}" />
		</p:column>
		<p:column headerText="Mídia">
			<p:outputLabel value="#{_filme.midia}" />
		</p:column>
		<p:column headerText="Preço">
			<p:outputLabel value="#{_filme.valorUnit}" />
		</p:column>
	</p:dataTable>
	<br />
	<h:outputText value="Total:" />
	<p:outputLabel value="#{acervoFilmes.getSubTotalReal()}">
		<f:convertNumber type="currency" currencySymbol="R$ " />
	</p:outputLabel>
	<br />
	<br />
	<br />

	<h:form>
		<p:outputLabel value="Selecionar data de devolução:" />
		<p:calendar id="inline" value="#{acervoFilmes.dataDevolucao}" mode="inline" />
		<br />
		<p:commandButton value="Confirmar"
			actionListener="#{acervoFilmes.click(acervoFilmes.carrinhoLista, userLoginView)}" icon="ui-icon-check" action="/alugueis.xhtml" />
			<p:commandButton value="Cancelar" action="/index.xhtml" />
	</h:form>
</h:body>
</html>