<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>

</h:head>

<h:body>
	<br />
	<h:form>
		<p:outputLabel>Buscar por nome do filme, nome original, nome do diretor ou de um dos atores participantes:</p:outputLabel>
		<br />
		<br />
		<p:commandButton value="Login" update="message"
		onclick="PF('dlg2').show();" rendered="#{!userLoginView.loggedIn}">
		<h:form>
			<p:growl id="growl2" sticky="true" showDetail="true" life="3000" />
			<p:dialog header="Login" widgetVar="dlg2" resizable="false"
				hideEffect="fade" modal="true">
				<h:panelGrid columns="2" cellpadding="5">
					<h:outputLabel value="Credenciais" />
					<br/>
					<br/>
					<h:outputLabel for="username" value="Username:" />
					<p:inputText id="username" value="#{userLoginView.username}"
						required="true" label="username" />

					<h:outputLabel for="password" value="Password:" />
					<p:password id="password" value="#{userLoginView.password}"
						required="true" label="password" />

					<f:facet name="footer">
						<p:commandButton value="Logar" update="growl2" id="loginButton"
							actionListener="#{userLoginView.login}"
							oncomplete="handleLoginRequest(xhr, status, args)"
							action="/index.xhtml" />
					</f:facet>
				</h:panelGrid>
			</p:dialog>
		</h:form>
		<script type="text/javascript">
			    function handleLoginRequest(xhr, status, args) {
			        if(args.validationFailed || !args.loggedIn) {
			            PF('dlg2').jq.effect("shake", {times:5}, 100);
			        }
			        else {
			            PF('dlg2').hide();
			            $('#loginLink').fadeOut();
			        }
			    }
			</script>
	</p:commandButton>
	
	
		<p:outputLabel value="Bem vindo(a) #{userLoginView.username}" rendered="#{userLoginView.loggedIn}"
			style="padding-right:15px;" />
		<p:commandButton value="Logout" rendered="#{userLoginView.loggedIn}"
			actionListener="#{userLoginView.logout()}" action="/index.xhtml" />
		<p:commandButton value="Meus Alugueis" action="/alugueis.xhtml" 
			rendered="#{userLoginView.loggedIn}" />
		<br />
		<br />
		<p:inputText id="inputTermoBusca" value="#{acervoFilmes.termo}" />
		<p:commandButton value="Procurar"
			actionListener="#{acervoFilmes.procurar}" update="tableResult"></p:commandButton>
		<p:commandButton value="Sugerir Filmes no Acervo" action="/sugerir.xhtml" />
	</h:form>
	<br />

	<p:dataTable var="_filme" value="#{acervoFilmes.acervo}"
		id="tableResult">
		<p:column headerText="ID" priority="6">
			<p:outputLabel value="#{_filme.id}" />
		</p:column>

		<p:column headerText="Nome" priority="3">
			<p:outputLabel value="#{_filme.nome}" />
		</p:column>

		<p:column headerText="Nome Original" priority="7">
			<p:outputLabel value="#{_filme.nomeOriginal}" />
		</p:column>

		<p:column headerText="Diretor" priority="8">
			<p:outputLabel value="#{_filme.diretor}" />
		</p:column>

		<p:column headerText="Profissionais" priority="9">
			<p:outputLabel value="#{_filme.profissionais}" />
		</p:column>

		<p:column headerText="Ano" priority="10">
			<p:outputLabel value="#{_filme.ano}" />
		</p:column>

		<p:column headerText="Duração" priority="1">
			<p:outputLabel value="#{_filme.duracao}" />
		</p:column>

		<p:column headerText="Disponibilidade" priority="4">
			<p:outputLabel value="#{_filme.qtdtotal}" />
		</p:column>

		<p:column headerText="Categoria" priority="12">
			<p:outputLabel value="#{_filme.categoria}" />
		</p:column>

		<p:column headerText="Valor Unitário" priority="5">
			<p:outputLabel value="#{_filme.valorUnit}" />
		</p:column>

		<p:column headerText="Data Adquirida" priority="13">
			<p:outputLabel value="#{_filme.dataAquisicao}" />
		</p:column>

		<p:column headerText="Estúdio" priority="14">
			<p:outputLabel value="#{_filme.estudio}" />
		</p:column>

		<p:column headerText="Carrinho" priority="2">
			<p:commandButton value="+DVD" update="carrinhotable"
				actionListener="#{acervoFilmes.addCarrinhoListaDvd(_filme)}" />
			<p:commandButton value="+BluRay" update="carrinhotable"
				actionListener="#{acervoFilmes.addCarrinhoListaBluRay(_filme)}" />
		</p:column>

	</p:dataTable>
	<p:commandButton value="Cadastrar Usuário" action="#{userLoginView.cadastrar}" rendered="#{!userLoginView.loggedIn}" />
	<br />
	<br />
	<p:outputLabel>Meu Carrinho</p:outputLabel><br/>
	<p:growl id="message" showDetail="true" />
	
	
	<p:commandButton value="Alugar" update="message"
		rendered="#{userLoginView.loggedIn}" 
		action="#{userLoginView.confirmarDupeRedirect(acervoFilmes.carrinhoLista, userLoginView.username)}">
	</p:commandButton>
	
	
	<p:commandButton value="Alugar" update="message"
		onclick="PF('dlg').show();" rendered="#{!userLoginView.loggedIn}">
		<h:form>
			<p:growl id="growl" sticky="true" showDetail="true" life="3000" />

			<p:dialog header="Login" widgetVar="dlg" resizable="false"
				hideEffect="fade" modal="true">
				<h:panelGrid columns="2" cellpadding="5">
					<h:outputLabel value="É necessário autenticação" />
					<br/>
					<p:separator/>
					<br/>
					<br/>
					<h:outputLabel for="username" value="Username:" />
					<p:inputText id="username" value="#{userLoginView.username}"
						required="true" label="username" />

					<h:outputLabel for="password" value="Password:" />
					<p:password id="password" value="#{userLoginView.password}"
						required="true" label="password" />

					<f:facet name="footer">
						<p:commandButton value="Logar" update="growl"
							actionListener="#{userLoginView.login}"
							oncomplete="handleLoginRequest(xhr, status, args)"
							action="#{userLoginView.confirmarDupeRedirect(acervoFilmes.carrinhoLista, userLoginView.username)}" />
					</f:facet>
				</h:panelGrid>
			</p:dialog>
		</h:form>
		<script type="text/javascript">
			    function handleLoginRequest(xhr, status, args) {
			        if(args.validationFailed || !args.loggedIn) {
			            PF('dlg').jq.effect("shake", {times:5}, 100);
			        }
			        else {
			            PF('dlg').hide();
			            $('#loginLink').fadeOut();
			        }
			    }
			</script>
	</p:commandButton>

	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		<p:outputLabel>É necessário autenticação</p:outputLabel>
		<br />

	</p:confirmDialog>

	<p:dataTable var="_filme" id="carrinhotable"
		value="#{acervoFilmes.carrinhoLista}">
		<p:column headerText="Nome Original">
			<p:outputLabel value="#{_filme.nomeOriginal}" />
		</p:column>

		<p:column headerText="Ano">
			<p:outputLabel value="#{_filme.ano}" />
		</p:column>

		<p:column headerText="Duração">
			<p:outputLabel value="#{_filme.duracao}" />
		</p:column>

		<p:column headerText="Mídia">
			<p:outputLabel value="#{_filme.midia}" />
		</p:column>
	</p:dataTable>
</h:body>
</html>