<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>
	<h:form>
		<h:panelGrid columns="2" cellpadding="5">
			<h:outputLabel for="filme" value="Nome do Filme:" />
			<p:inputText id="filme" required="true" value="#{sugestaoBean.sugestao}" />
		</h:panelGrid>

		<p:spacer height="10" />

		<p:separator />

		<p:commandButton value="Enviar"
			action="#{sugestaoBean.addSugestao()}" update="sugest" />
	</h:form>
	<br />
	<h:form>
		<p:commandButton value="Cancelar" action="/index.xhtml" />
	</h:form>
	<br />
	<p:dataList value="#{sugestaoBean.sugestoes}" var="_sgt" type="ordered"
		id="sugest">
		<p:column headerText="Data de devolução">
			<h:outputText value="#{_sgt}" />
		</p:column>
	</p:dataList>

</h:body>

</html>